<h3>Departments</h3>
<hr>

<p>
  <%= button_to 'New', new_department_path, method: :get %>
</p>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
  </tr>

  <% @departments.each do |a| %>
      <tr>
        <td><%= a.id%></td>
        <td><%= a.name%></td>
        <td><%= a.description%></td>
        <td><%= a.status.name%></td>
        <td style="border: 0px;"><%= button_to 'Edit', edit_department_path(a), method: :get%></td>
        <td style="border: 0px;"><%= button_to 'Destroy', department_path(a), method: :delete %></td>
      </tr>
  <% end %>
</table>
